body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.chessboard {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 4px solid #333;
}

.square {
  width: 100%;
  height: 100%;
}

.white {
  background-color: #eeeed2;
}

.black {
  background-color: #769656;
}
